---
---
@import 'norms';
@import 'kleinbar';

.post-header {
	margin-bottom:1em;
}

.post-meta {
	font-style:italic;
	margin:1em 0;
}

.posts {
	padding:0;
	padding-top:1em;
	margin-top:2em;
	list-style-type:none;
	border-top:1px solid $black;
}

.post-link a {
	font-weight:bold;
}

.posts .post-link {
	margin-bottom:0;
}

.posts .post-meta {
	margin-top:0;
}

@media (min-width: 1000px) {

	.content
	{
	    width:55%;
		width:calc(35em);
		margin-left:45%;
		margin-left:calc(100% - 35em);
	}

	.postbar {
		background:$black;
		padding:3em;
		color:$white;
		width:45%;
		width:calc(100% - 35em);
		position:absolute;
		left:0;
		top:0;
		min-height:100%;
	}

	.post-link a {
		background-image:none;
	}
	
	.post-link a:hover {
		background-image:none;
	}

	.postbar a {
		color:white;
	}

	.posts {
		margin:0;
		padding:0;
		border:none;
		list-style-type:decimal;
	}
	
	.kleinbar
	{
	    width:45%;
		width:calc(100% - 35em);
	    position:fixed;
		left:0;
	    padding:6em;
	    height:100%;
	    background:$black;
	}
	
	.klein {
	    width:100%;
		max-width:500px;
	    height:auto;
	}

}


