---
layout: default
controls: true
script:
  - tinycolor
  - klein
style: kleinmaker
colors:
  dark: '#24fe41'
  light: '#fdfc47'
  stroke: '#00bdcd'
  buttline: '#09ff2a'
title: "Make Your Own Klein Bottle"
description: "The best Klein Bottle generator in the world! Make your very own colourful bottles for yourself, friends, and family."
---
{% include website-title.html %}

<h1>Make Your Own Klein Bottle</h1>

<noscript class="noscript-klein"><p><strong>This page requires JavaScript. Sorry! It's just not possible to write this sort of application without it.</strong></p></noscript>

{% include kleinmaker.html %}

<p class="supplemental">At this time, there is a bug in Firefox where PNG generation breaks. Please download as SVG or use a different browser.</p>
<p class="supplemental">These bottles are free for personal use but may not be used commercially.</p>
<p class="supplemental">If the application is not working, <a href="/contact">contact</a> us and let us know. But make sure you are using a modern browser first.</p>

{% include nav-back.html %}
