<svg class="download-button download-button-png" width="523.32" height="523.32" version="1.1" viewBox="0 0 138.46289 138.46094" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
<metadata>
<rdf:RDF>
<cc:Work rdf:about="">
<dc:format>image/svg+xml</dc:format>
<dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
<dc:title/>
</cc:Work>
</rdf:RDF>
</metadata>
<g transform="translate(-19.215 -72.799)">
<path d="m88.447 72.699c-38.188 0-69.232 31.065-69.232 69.28s31.044 69.28 69.232 69.28c38.188 0 69.23-31.065 69.23-69.28s-31.042-69.28-69.23-69.28zm0 7.9432c33.899 0 61.293 27.414 61.293 61.337s-27.394 61.337-61.293 61.337c-33.899 0-61.295-27.414-61.295-61.337s27.396-61.337 61.295-61.337z" color="#000000" color-rendering="auto" dominant-baseline="auto" image-rendering="auto" shape-rendering="auto" solid-color="#000000" style="font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;isolation:auto;mix-blend-mode:normal;shape-padding:0;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal"/>
<path d="m88.387 92.5a3.9691 3.972 0 0 0 -3.9083 4.0285v13.238h7.9375v-13.238a3.9691 3.972 0 0 0 -4.0292 -4.0285zm-3.9083 63.602v33.097a3.9691 3.972 0 1 0 7.9375 0v-33.097z" color="#000000" color-rendering="auto" dominant-baseline="auto" image-rendering="auto" shape-rendering="auto" solid-color="#000000" style="font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;isolation:auto;mix-blend-mode:normal;shape-padding:0;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal"/>
<path d="m55.285 158.71a3.9691 3.972 0 0 0 -2.3906 7.1086l33.072 26.478a3.9691 3.972 0 0 0 4.959 0l33.072-26.478a3.9691 3.972 0 1 0 -4.957 -6.2017l-30.594 24.492-30.594-24.492a3.9691 3.972 0 0 0 -2.5684 -0.90691z" color="#000000" color-rendering="auto" dominant-baseline="auto" image-rendering="auto" shape-rendering="auto" solid-color="#000000" style="font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;isolation:auto;mix-blend-mode:normal;shape-padding:0;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal"/>
<g transform="matrix(1 0 0 1.0007 -152.09 -91.689)" stroke-width="1.1941" aria-label="PNG">
<path d="m199.28 229.24h8.2152c9.2183 0 10.938-7.8331 10.938-10.938 0-6.7346-4.0121-10.986-10.651-10.986h-15.666v34.294h7.1645zm0-5.9226v-10.078h5.6838c4.442 0 6.3047 1.3851 6.3047 4.7286 0 1.5284 0 5.3495-5.3495 5.3495z"/>
<path d="m244.94 231.2h-0.0955l-13.612-23.882h-7.5466v34.294h6.6868v-24.455h0.0955l13.995 24.455h7.1645v-34.294h-6.6868z"/>
<path d="m274.63 228.9h7.9764c-1.4806 6.9256-6.7346 7.5466-8.3108 7.5466-4.8718 0-9.9825-2.4359-9.9825-11.797 0-8.7884 4.7285-12.323 9.8392-12.323 5.0629 0 7.4988 4.2987 7.4988 5.636h7.1645c-0.38211-4.7286-4.5375-11.559-15.045-11.559h-0.0955c-11.511 0-16.669 8.8362-16.669 18.15 0 12.036 7.4988 17.959 15.762 17.959 6.257 0 8.8839-3.1046 10.699-5.2062l0.71644 4.2987h4.7763v-18.484h-14.329z"/>
</g>
</g>
</svg>
