<ol class="posts">

{% for post in site.posts %}<li class="post">
<p class="post-link">
<a href="{{ post.url }}">{{ post.title | markdownify | strip_html }}</a>
</p>
<p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>{% if post.author %} · {{ post.author }}{% endif %}</p>
</li>{% endfor %}

</ol>
