body {
    margin:0;
    padding:0;
    color:$black;
}

.content {
    padding:3em;
	width:40em;
	max-width:100%;
	margin:0 auto;
}

.kleinbar {
    background:$black;
	text-align:center;
    padding:2em;
    position:relative;
}

.klein {
	max-width:100%;
	width:200px;
	height:auto;
}

.klein:hover .stroke {
    stroke:#222222 !important;
}

.klein .stroke {
	transition: .1s ease;
}

.klein:hover .light-fill {
    fill:#ffffff !important;
}

.klein .light-fill {
	transition: .1s ease;
}

.klein:hover .light-stop {
    stop-color:#ffffff !important;
}

.klein .light-stop {
	transition: .3s ease;
}

.klein:hover .dark-stop {
    stop-color:#ffffff !important;
}

.klein .dark-stop {
	transition: .3s ease;
}


.klein:hover .buttline {
    stroke:#ffffff !important;
}

.klein .buttline {
	transition: .3s ease;
}

@media (min-width: 1000px) {

	.content
	{
		margin:0;
	    width:55%;
		width:calc(35em);
	}
	
	.kleinbar
	{
	    width:45%;
		width:calc(100% - 35em);
	    position:fixed;
	    right:0;
	    padding:6em;
	    height:100%;
	}
	
	.klein {
	    width:100%;
		max-width:500px;
	    height:auto;
	}

}


