$font-size:14px !default;
$font-regular:Lora, georgia, times, serif !default;
$font-fancy:"Playfair Display" !default;

$black:#222;
$white:#fff;

* {
    box-sizing:border-box;
}

body {
	font-family:$font-regular;
	color:$black;
    font-size:14px;
    font-size:calc(14px + 0.4vw);
	word-wrap:break-word;
}

a {
	color:$black;
	text-decoration:none;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6
{
    font-family:$font-fancy;
    font-style:italic;
    font-weight:700;
}

img {
	max-width:100%;
}

h1
{
    font-size:2em;
}

.site-title {
	font-size:1em;
	font-family:$font-regular;
	font-weight:normal;
	padding-bottom:1em;
	margin-bottom:2em;
	border-bottom:1px solid $black;
	display:table;
}


*:first-child {
    margin-top:0;
}

*:last-child {
    margin-bottom:0;
}

p,
li
{
    line-height:1.6;
}

.supplemental {
	font-size:0.8em;
}

.spasm {
	font-family:$font-fancy;
	font-weight:bold;
	letter-spacing:0.05em;
	font-size:0.95em;
}

.links
{
    font-size:1em;
	display:table;
	padding-top:1em;
	margin-top:2em;
	border-top:1px solid $black;
	font-style:italic;
}

.links a
{
    color:$black;
    text-decoration:none;
	font-weight:normal;
}

.links ol
{
    list-style-type:none;
	padding:0;
	margin:0;
}


.controls
{
    display:none;
	margin-top:2em;
}

.controls input
{
    border:none;
    padding:0;
    height:2em;
    margin:0 0.5em;
    background:none;
}

.controls button
{
    border:none;
    padding:0;
    color:white;
    background:none;
    font-family:$font-regular;
}

.controls button:hover {
    text-decoration:underline;
    cursor:pointer;
}
